@import 'tailwindcss';

@theme {
    --color-primary: #dbfd01;
    --color-base: #f6f6f6;
    --color-seconday: #232323;
    --color-hover: #f1ff93;
    --text-base: clamp(1rem, 2.5vw, 2rem);
    --font-hubot-semicondensed: 'Hubot Sans', sans-serif;
    --font-hubbot-stretch: 85%;
    --bg-secondary: #232323;
    /* paddings */
    --padding-base: min(2rem, 4%);
}

body {
    background-color: black;
    height: 100vh;
    height: 100dvh;
    font-family: 'Hubot Sans', sans-serif;
    font-variation-settings: 'wdth' 85;
    font-stretch: 85%;
}

/* font smooth and antialias */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* scroll bar hide */
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}

.scroll-container::-webkit-scrollbar {
    scroll-behavior: smooth;
    display: none;
    overflow-x: auto;
    touch-action: pan-x;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
}

/* For your horizontal scroll container */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
